<div class="row">
  <fieldset>
    <%= render 'layouts/feedback' %>
    <div class="small-12 small-centered columns lead">
      <h3 class="subheader">Welcome to Duo
        <br>
        <small>An app built to bring us together</small>
        <br>
        <small>Let's pair</small>
      </h3>
    </div>
  </fieldset>
</div>

