<div class="row">
  <fieldset>
    <%= render 'layouts/feedback' %>
    <div class="small-12 small-centered columns lead">
      <h3>Welcome to Duo</h3>
      <h3 class="subheader"><small>An app built to bring us together</small><h3>
      <h3 class="subheader"><small>Let's pair</small></h3>
    </div>
  </fieldset>
</div>

