<div class="row">
  <fieldset>
    <%= render 'layouts/feedback' %>
    <div class="small-11 small-centered columns">
      <h3 class="subheader">Welcome to Duo <small>- An app built to bring us together</small></h3>
        <ul>
          <li><span class="label">Sign in with an account created by your admin.</span></li>
          <li><span class="label">View the teams, team mates and potential duos you work with.</span></li>
          <li><span class="label">Recieve your weekly duo email on Friday, 5pm sharp.</span></li>
          <li><span class="label">Enjoy! Do something cool together.</span></li>
        </ul>
    </div>
  </fieldset>
</div>

