<div class="row collapse">
  <fieldset>
  <div class="small-12 small-centered columns">
    <img class='circle person' src="http://www.gravatar.com/avatar/<%= current_user.gravatar_hash %>?s=150&d=mm">
  </div>
  </fieldset>
</div>