<div class="row">
  <fieldset>
    <%= render 'layouts/feedback' %>
    <div class="small-12 small-centered columns">
      <img class='circle person' src="http://www.gravatar.com/avatar/<%= @user.gravatar_hash %>?s=150&d=mm">
      <% if @teams.any? %>
        <% @teams.each do |team| %>
          <span class="label secondary"><%= team.name %></span>
        <% end %>
      <% end %>
    </div>
  </fieldset>
</div>