<div class="contain-to-grid sticky">
  <nav class="top-bar">
    <!-- Title Area -->
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">DUO</a></h1>
        </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <!-- Nav Content Section -->
    <section class="top-bar-section">
      <ul class="left">
        <% if logged_in? %>
        <li><a href="#">Login</a></li>
        <li><a href="#">Signup</a></li>
        <% else %>
        <li><a href="#">People</a></li>
        <li><a href="#">Teams</a></li>
        <li><a href="#">Logout</a></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>